table {
    margin-top:20px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
        color: black;

}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    color: black;
}

tr:nth-child(even) {
    background-color: #dddddd;
}